.clock {
    position: relative;
    width: 120px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.clock-delete {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.clock-name {
    text-transform: uppercase;
}

.clock-time {
    margin-top: 20px;
}